
.LabelsWrapper{

}
.LabelsWrapper:hover{
    color : #24292e;
}

.Label{
    border-radius: 10px;
    box-shadow: inset 0 -1px 0 rgba(27,31,35,.12);
    font-size: 12px;
    font-weight: 600;
    height: 20px;
    line-height: 15px;
    padding: .15em 4px;
    margin-left : 2px;
}
